

*background: #0D131A
*foreground: #8A9499

! black
*color0:     #1A2633
*color8:     #44484C

! red
*color1:     #802635
*color9:     #B3354C

! green
*color2:     #608040
*color10:    #4BA65A

! yellow
*color3:     #877C43
*color11:    #BF9F5F

! blue
*color4:     #1C678C
*color12:    #3995BF

! magenta
*color5:     #684D80
*color13:    #A64286

! cyan
*color6:     #337373
*color14:    #6AAAB3

! white
*color7:     #738080
*color15:    #B3B3B3

! purple
URxvt*color5: #ac8ac1
URxvt*color13: #d2bbe4

URxvt*scrollBar: false
!URxvt.depth: 32
!URxvt*transparent: true
URxvt*shading: 12
URxvt*cursorBlock: true
URxvt*cursorColor: #8A9499
URxvt*colorUL: #9695b5
!URxvt*iso14755: false

URxvt*font: xft:drift:pixelsize=10
URxvt*boldFont: xft:drift:pixelsize=10

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

URxvt.perl-ext-common: default,matcher
URXvt.urlLauncher: /usr/bin/firefox
URxvt.matcher.button: 1
